/** default values for text and such **/
html{
    color: black;
}



body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/** The appearance of the header items **/
header{
    min-height: 250px;
    text-align: center;
    height: fit-content;
    background-image: url('images/fairfieldSign.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
    background-color: black;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

header h1{
    margin-top: 65px;
    font-size: 75px;
    text-shadow:
     3px  3px 1px white,
    -3px -3px 1px white,  
     3px -3px 1px white,
    -3px  3px 1px white,
     3px  3px 1px white;
}
/** make the buttons looks good **/
header a{
    font-size: 25px;
    color: #000;

    /** oval outlines **/
    margin-right: 10px; /** button spacing 10 **/
    display: inline-block;
    padding: 5px 10px; /** oval size 5 10**/
    border: 2px solid #333;
    border-radius: 50px; /* Use a large value to make it ovular 50px */
    background-color: white;
    text-decoration: none; /** remove underline **/
    transition: all 100ms;
}

/** make button highlight **/
header a:hover{
    background-color: gray;
    font-size: 30px;
    transition: all 500ms;
}

header hr{
    height: 4px; /* thickness */
    background-color: #000; /* color */
    border: none;
    margin-top: 95px
}


main{
    font-size: large;
    background-color: white;
    overflow:hidden;
    margin: 8px;
    flex:1;
    /**padding-bottom: 100px;
    box-sizing: border-box;**/
}



footer {
    background-color: #EEE;
    color: black;
    padding-bottom: 20px;
}